@page "/Gamble"
@using StockProject.Data.Services
@inject Blazored.SessionStorage.ISessionStorageService sessionStorage
@inject IToastService toastService
@inject IModalService modalService
@inject ICurrentUserService currentUserService
@inject PointService pointService

<PageTitle>InitialGamble</PageTitle>

<h2>Gamble</h2>
<hr />

Welcome to the Gamble Page!
<br />
<br />

@if (currentPoint == null)
{
    <p>Loading...</p>
}
else
{
    <p>@currentPoint!.UserId</p>
    <p>@currentPoint.UserName</p>
    <p>@currentPoint.Money</p>
    <p>@currentPoint.CreatedAt.AddHours(9).ToString("yyyy-MM-dd HH:mm:ss")</p>
    <p>@currentPoint.UpdatedAt.AddHours(9).ToString("yyyy-MM-dd HH:mm:ss")</p>
}


<br />

<div class="column">
    <a class="btn btn-primary" href="/Gamble/Dice">Dice</a>
</div>

@code {
    Point? currentPoint;
    protected override async Task OnInitializedAsync()
    {
        currentPoint = await pointService.SetCurrentUser();
        if (currentUserService.IsSignedIn() && currentPoint == null)
        {
            currentPoint = await pointService.InitialCreate();
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            //비로그인한 상태라면!
            if (currentPoint == null)
            {
                //세션에 있는지 검사 후 생성
                currentPoint = await sessionStorage.GetItemAsync<Point>("Current") ?? new Point();
                //하지만 예전에 쓰던 거라면
                if (!string.IsNullOrWhiteSpace(currentPoint.UserId))
                {
                    currentPoint = new Point();
                }
            }
            await sessionStorage.SetItemAsync("Current",currentPoint);
            pointService.CallPoint();
        }
    }

}
