@page "/Gamble"
@using StockProject.Data.Services
@inject Blazored.SessionStorage.ISessionStorageService sessionStorage
@inject IToastService toastService
@inject IModalService modalService
@inject ICurrentUserService currentUserService
@inject PointService pointService

<PageTitle>InitialGamble</PageTitle>

<h2>Gamble</h2>
<hr />

Welcome to the Gamble Page!
<br />
<br />

@if (currentPoint == null)
{
    <p>you dont have Point entity</p>
}
else
{
    <p>@currentPoint!.UserId</p>
    <p>@currentPoint.UserName</p>
    <p>@currentPoint.Money</p>
    <p>@currentPoint.CreatedAt.AddHours(9).ToString("yyyy-MM-dd HH:mm:ss")</p>
    <p>@currentPoint.UpdatedAt.AddHours(9).ToString("yyyy-MM-dd HH:mm:ss")</p>
}


<br />

<div class="column">
    <a class="btn btn-primary" href="/Gamble/Dice">Dice</a>
    @* <a class="btn btn-primary" href="/Gamble/Slot">Slot</a> *@
</div>

@code {
    Point? currentPoint;
    protected override async Task OnInitializedAsync()
    {
        currentPoint = await pointService.SetCurrentUser();
        if (currentPoint == null)
        {
            if (currentUserService.IsSignedIn())
            {
                var modal = modalService.Show<InitialGambleModal>("No Entity");
                var result = await modal.Result;
                if (!result.Cancelled)
                {
                    currentPoint = await pointService.InitialCreate();
                }
            }
        }
    }//여기서 currentPoint가 Null 인 경우는
     //1. 로그인 -> Entity 안만듬
     //2. 비로그인
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            if (currentPoint == null)
            {
                currentPoint = await sessionStorage.GetItemAsync<Point>("Current");
                if (currentPoint == null)
                {
                    currentPoint = new();
                }
                else if (currentPoint.UserId != currentUserService.UserId)
                {
                    currentPoint = new();
                }
            }
            await sessionStorage.SetItemAsync("Current", currentPoint);
        }
        @* return; *@
    }
    //null 인 경우 -> currentPoint 가

}
