<div class="form-group">
    <InputRadioGroup @bind-Value="GameMode" class="form-control">
        <div class="form-check">
            <InputRadio Value=1 class="form-check-input" />
            <label class="form-check-label">Odd or Even</label>
        </div>
        <div class="form-check">
            <InputRadio Value=2 class="form-check-input" />
            <label class="form-check-label">Exact Number</label>
        </div>
        <div class="form-check">
            <InputRadio Value=3 class="form-check-input" />
            <label class="form-check-label">High or Low</label>
        </div>
        <div class="form-check">
            <InputRadio Value=4 class="form-check-input" />
            <label class="form-check-label">Sum Bet</label>
        </div>
        <div class="form-check">
            <InputRadio Value=5 class="form-check-input" />
            <label class="form-check-label">Range Bet</label>
        </div>
    </InputRadioGroup>

    <button @onclick="Close" class="btn btn-primary mt-3">OK</button>
    <button @onclick="Cancel" class="btn btn-secondary mt-3">Cancel</button>

</div>


@code {
    [Parameter]
    public int GameMode { get; set; }
    [CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; } = default!;
    async Task Close() => await BlazoredModal.CloseAsync(ModalResult.Ok(GameMode));
    async Task Cancel() => await BlazoredModal.CancelAsync();
}
