@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>
😎
@* <StockProject.Components.Pages.TimeTable.StudentTimeTable/> *@
@* <StockProject.Components.Pages.TimeTable.StudyScheduler/> *@
@* <StockProject.Components.Pages.TimeTable.StudentList/> *@
@* <Test/> *@
@* 
<StockProject.Components.Toast.Toast/>
<StockProject.Components.ModalPages.ShowAllModals/> *@
