@page "/"
@using StockProject.Components.Modals

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.



<StockProject.Components.Toast.Toast/>
<StockProject.Components.ModalPages.ShowAllModals/>
