@page "/TimeTable/Time"

<table class="table table-bordered text-center">
    <thead>
        <tr>
            <th>요일</th>
            @for (int i = 18; i <= 48; i++) // 30분 간격
            {
                var timeSlot = TimeSpan.FromMinutes(i * 30);
                var displayTime = timeSlot.Hours == 0 ? "24:00" : $"{timeSlot:hh\\:mm}"; // 
                <th>@displayTime</th> <!-- 시간 표시 -->
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var day in Enum.GetValues(typeof(DayOfWeek)).Cast<DayOfWeek>().Skip(1)) // 월~일
        {
            <tr>
                <td>@day.ToString().Substring(0, 3)</td>
            </tr>
        }
    </tbody>
</table>



@code{


}