@page "/Gamble/Typing"
@using StockProject.Data.Services

@inject TypingService typingService

<h3>Typing</h3>

<InputText @bind-Value=@word></InputText>
<button type="submit" @onclick="() => SearchWord(word!)">submit</button>

@if (definitions is not null)
{
    foreach (var str in definitions)
    {
        <p>@str</p>
    }
}

@code {
    [SupplyParameterFromForm]
    string? word { get; set; }
    List<string?> definitions = new();

    async Task SearchWord(string str)
    {
        definitions = TypingService.GetWordDefinition(await TypingService.SearchWord(word));
    }

}
